<div *ngIf="currentCity.id" class="edit-form">
  <h4>City</h4>
  <form>
    <div class="form-group">
      <label for="title">Name</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="currentCity.name"
        name="title"
      />
    </div>
    <div class="form-group">
      <label for="description">Photo</label>
      <input
        type="text"
        class="form-control"
        id="description"
        [(ngModel)]="currentCity.photo"
        name="description"
      />
    </div>
  </form>

  <button
    class="btn btn-success"
    (click)="updateCity()"
  >
    UPDATE
  </button>
</div>
